/**********************************************************************************************************************************************************
 * IMPORTED STYLES																																																																        *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
* FONT KITS																																																														                  *
*********************************************************************************************************************************************************/


/**********************************************************************************************************************************************************
 * DEFAULTS/NORMALIZATIONS/BODY																																																														*
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION        																																																															*
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * CONTENT       																																																															            *
 *********************************************************************************************************************************************************/
div#position-one {
    position: absolute;
    top: 400px;
    left: 1920px;
}
/**********************************************************************************************************************************************************
 * FOOTER      																																																															            *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 *     																																																															            *
 *********************************************************************************************************************************************************/
